<% @post.each do |x| %>
<p>
<h2><%= x.id %></h2>
<p><%= x.content%></P>
<%= link_to '글 수정하기', "/posts/edit/#{x.id}" %>
<a href="/posts/destroy/<%= x.id %>" data-confirm="정말 삭제하시겠습니까??">글 삭제하기</a>

</p>
<% end %>
<form action="/posts/create">
     <input type="textarea" name="content" placeholder="내용을 입력하세요.">
    <button type="submit" >제출하기!</button>
</form>
