
// Place all the styles related to the uh_em controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index페이지 로고

.index-logo {
  max-width: 370px;
  height: 23vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 65px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.5vh;
  margin-top: 20vh;
  background: url(/assets/0812index-logo.png) no-repeat;
  background-size: contain;
}

@media screen and (max-width: 596px) {
.index-logo {
  height: 23vh;
  margin-left: 8vh;
}
}

@media screen and (min-width:577px) and (max-width:992px) {
.index-logo {
    height: 50vh;
}
}

// 가격버튼

.price {
  width: 350px;
  height: auto;
  margin: auto;
}

.buttons .price .price-1 {
  height: 40.5px;
  width: inherit;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.23;
  color: white;
}

.buttons .price .price-2 {
  height: 40.5px;
  width: inherit;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.23;
  color: white;
}

.buttons .price .location {
  height: 40.5px;
  width: inherit;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.23;
  color: white;
}

.buttons .price .submitbutton {
  height: 40.5px;
  width: inherit;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.23;
  color: white;
}

.price-1 label {
  color: white;
}

.price-1 .price_low {
  color: white;
}

input#priceLow.price_low {
  background: none;
  border: none;
}

.price-2 label {
  color: white;
}

.price-2 .price_top {
  color: white;
}

input#priceTop.price_top {
  background: none;
  border: none;
}

.location {
  width: 310px;
  height: auto;
}

.location input {
  color: white;
}

.location .userlocation {
  color: white;
}

input#userLocation.user_location {
  background: none;
  border: none;
  color: white;
}

.buttons .submitbutton button {
  background: none;
  border: none;
}

::-webkit-input-placeholder { /* 크롬 4–56 */
    color: #fff;
}

// mymenu페이지 스타일
.mymenu__bg__con {
  padding-top: 65px;
}

.mymenu__bg {
  height: 55vh;
  background-image: url(/assets/mymenu-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 596px) {
.mymenu__bg {
  height: 30vh;
}
}

@media screen and (min-width:577px) and (max-width:992px) {
  .mymenu__bg {
    height: 50vh;
}
}

.mymenu__logo {
  height: 10vh;
  background-image: url(/assets/mymenu-logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 596px) {
.mymenu__logo {
  height: 8vh;
}
}

.mymenu__text {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  padding-top: 1rem;
}

@media screen and (max-width: 596px) {
.mymenu__text {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}
}

// card

.about__datum {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.card_button {
  color: black;
}

.card_button button:focus {
  text-decoration: none;
}

.card_button button {
  cursor: pointer;
}
