
// Place all the styles related to the uh_em controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index페이지 로고

.index-logo {
  max-width: 370px;
  height: 23vh;
  // align-items: center;
  // flex-direction: column;
  // justify-content: center;
  // padding-top: 65px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1em;
  margin-top: 15vh;
  background: url(/assets/0812index-logo.png) no-repeat;
  background-size: contain;
}

@media screen and (max-width: 596px) {
.index-logo {
  height: 23vh;
  margin-left: 8vh;
  margin-top: 5vh;
}
}

@media screen and (min-width:577px) and (max-width:992px) {
.index-logo {
    height: 30vh;
    margin-left: 13vh;
}
}

// 로고와 가격버튼 사이 text
.buttons__text {
  color: white;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1rem;
  line-height: 1.6;
  justify-content: center;
}

@media screen and (max-width: 596px) {
.buttons__text {
  font-size: 0.8rem;
  line-height: 1.0;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
  padding: 0;
}
}

@media screen and (min-width:577px) and (max-width:992px) {
.buttons__text {
  font-size: 0.9rem;
  line-height: 1.4;
  letter-spacing: 0.075em;
  margin-bottom: 0.5rem;
  padding: 0;
}
}

// 가격버튼
.price {
  width: 350px;
  height: auto;
  margin: auto;
}

 .price .price-1 {
  height: 40.5px;
  width: inherit;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.23;
  color: white;
}

.price .price-2 {
  height: 40.5px;
  width: inherit;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.23;
  color: white;
}

.price .location {
  height: 40.5px;
  width: inherit;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.23;
  color: white;
}

.price .submitbutton {
  height: 40.5px;
  width: inherit;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.23;
  color: white;
}

.price-1 label {
  color: white;
}

.price-1 .price_low {
  color: white;
}

input#priceLow.price_low {
  background: none;
  border: none;
}

.price-2 label {
  color: white;
}

.price-2 .price_top {
  color: white;
}

input#priceTop.price_top {
  background: none;
  border: none;
}

.submitbutton button {
  background: none;
  border: none;
}

::-webkit-input-placeholder { /* 크롬 4–56 */
    color: #fff;
}

.notice {
  background: none;
  display: flex;
  font-weight: 700;
  color: #f15a24;
}

.alert {
  background: none;
  display: flex;
  font-weight: 700;
  color: #f15a24;
}
