<div class = "log">
  <p>안녕하세요! <%= @resource.email %>님!</p>

  <p> 과도한 로그인 실패 횟수로 인해 귀하의 계정이 잠겼음을 알려드립다. </p>

  <p>계정 잠금을 해제하려면 아래 링크를 클릭하십시오.</p>

  <p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
</div>
