    <!-- uh-em CSS -->
    <link rel="stylesheet" href="/assets/uh_em.scss">

    <div class="index">
      <div class="container index__logo">
        <div class="row justify-content-center">
          <div class="index-logo col-8 col-sm-8 col-lg-10 col-xl-12"></div>
        </div>
      </div>

    <div class="buttons container">
      <div class="price row justify-content-center">

        <div class="price-1 row my-3 col-8 col-sm-10 col-lg-12 col-xl-12">
          <label for="pricebottom" class="col-4 col-form-label my-auto">최저가</label>
          <div class="col-8 my-auto">
            <input class="price_low" type="number" placeholder="가격입력" id="priceLow">
          </div>
        </div>

        <div class="price-2 row my-3 col-8 col-sm-10 col-lg-12 col-xl-12">
          <label for="pricetop" class="col-4 col-form-label my-auto">최고가</label>
          <div class="col-8 my-auto">
            <input class="price_top" type="number" placeholder="가격입력" id="priceTop">
          </div>
        </div>

        <div class="location row my-3 col-8 col-sm-10 col-lg-12 col-xl-12">
        <!-- <label for="userlocation" class="col-4 col-form-label my-auto">당신의 위치</label> -->
            <div class="col-12 my-auto">
              <input class="user_location" type="text" placeholder="위치를 입력해주세요." id="userLocation">
            </div>
        </div>

        <div class="submitbutton row justify-content-center my-3 col-8 col-sm-10 col-lg-12 col-xl-12">
          <button type="submit" class="btn my-auto btn-block">Submit</button>
        </div>

      </div>
    </div>
 </div>
