    <!-- uh-em CSS -->
    <link rel="stylesheet" href="/assets/uh_em.scss">

    <div class="index container">

      <!-- 수정해야함 modal로 띄우는건 어떨까. 혹은 jquery로 없애는건 필요할때만 보여주는건 어떨까. -->
      <div class="notice" style="text-align:center"><%= notice %></div>
      <div class="alert" style="text-align:center"><%= alert %></div>

      <div class="container index__logo">
        <div class="row justify-content-center">
          <div class="index-logo col-8 col-sm-8 col-lg-10 col-xl-12"></div>
        </div>
      </div>

      <div class="price row justify-content-center">

          <p class="buttons__text row my-3 col-8 col-sm-10 col-lg-12 col-xl-12">
            최저가와 최고가를 입력하면<br>
            현재 위치를 중심으로 메뉴들이 검색됩니다. </p>

        <div class="price-1 row my-3 col-8 col-sm-10 col-lg-12 col-xl-12">
          <label for="pricebottom" class="col-4 col-form-label my-auto">최저가</label>
          <div class="col-8 my-auto">
            <input class="price_low" type="number" placeholder="가격입력" id="priceLow">
          </div>
        </div>

        <div class="price-2 row my-3 col-8 col-sm-10 col-lg-12 col-xl-12">
          <label for="pricetop" class="col-4 col-form-label my-auto">최고가</label>
          <div class="col-8 my-auto">
            <input class="price_top" type="number" placeholder="가격입력" id="priceTop">
          </div>
        </div>

        <div class="submitbutton row justify-content-center my-3 col-8 col-sm-10 col-lg-12 col-xl-12">
          <button type="submit" class="btn my-auto btn-block">Submit</button>
        </div>

      </div>

 </div>
